.book_cap1 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap1>p {
    font-size: 15px;
}

.book_cap1>h5 {
    padding-top: 10px;
}

.book_cap2 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap2>p {
    font-size: 15px;
}

.book_cap2>h5 {
    padding-top: 10px;
}
.book_cap3 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap3>p {
    font-size: 15px;
}

.book_cap3>h5 {
    padding-top: 10px;
}
.book_cap4 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap4>p {
    font-size: 15px;
}

.book_cap4>h5 {
    padding-top: 10px;
}
.book_cap5 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap5>p {
    font-size: 15px;
}

.book_cap5>h5 {
    padding-top: 10px;
}
.book_cap6 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap6>p {
    font-size: 15px;
}

.book_cap6>h5 {
    padding-top: 10px;
}
.book_cap7 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap7>p {
    font-size: 15px;
}

.book_cap7>h5 {
    padding-top: 10px;
}
.book_cap8 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap8>p {
    font-size: 15px;
}

.book_cap8>h5 {
    padding-top: 10px;
}

.book_cap9 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap9>p {
    font-size: 15px;
}

.book_cap9>h5 {
    padding-top: 10px;
}
.book_cap10 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap10>p {
    font-size: 15px;
}

.book_cap10>h5 {
    padding-top: 10px;
}
.book_cap11 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap11>p {
    font-size: 15px;
}

.book_cap11>h5 {
    padding-top: 10px;
}
.book_cap12 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap12>p {
    font-size: 15px;
}

.book_cap12>h5 {
    padding-top: 10px;
}
.book_cap13 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap13>p {
    font-size: 15px;
}

.book_cap13>h5 {
    padding-top: 10px;
}

.book_cap14 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap14>p {
    font-size: 15px;
}

.book_cap14>h5 {
    padding-top: 10px;
}
.book_cap15 {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* 	display: none; */
}

.book_cap15>p {
    font-size: 15px;
}

.book_cap15>h5 {
    padding-top: 10px;
}
