/* Docs sample */

body{
	margin:0;
	padding:0;
	overflow:hidden;
}

#canvas{
	width: 1073px; /* 960. 942*/
	height: 672px;
	/*margin: 100px auto;*/
	margin-left: 15px; 
}

#book-zoom{
	/*position:absolute;
	top:50%;
	left:50%;
	margin:auto;*/
	width:1055px;
	height:672px;
	
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.animated{
	-webkit-transition:margin-left 0.2s ease-in-out;
	-moz-transition:margin-left 0.2s ease-in-out;
	-o-transition:margin-left 0.2s ease-in-out;
	-ms-transition:margin-left 0.2s ease-in-out;
	transition:margin-left 0.2s ease-in-out;
}

.sample-docs{
	margin-top:20px;
	width:1055px;
	height:672px;
}

.sample-docs .page{
	width:527px; /*471*/
	height:672px; /*600*/
	background:white;

	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.sample-docs .hard{
	background-image:url(/textant/resources/img/covers.jpg);
}

.sample-docs .p2{
	background-position:-471px 0;
}

.sample-docs .p28{
	background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
}

.sample-docs .p29{
	background-position:-942x 0;
}

.sample-docs .p30{
	background-position:-1413px 0;
}
.sample-docs .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(/textant/resources/img/left-border.png);
	background-position:left top;
	background-repeat: repeat-y;
}

.sample-docs .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-image:url(/textant/resources/img/right-border.png);
	background-position:right top;
	background-repeat: repeat-y;
}

.sample-docs .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

.sample-docs .loader{
	background-image:url(/textant/resources/img/loader.gif);
	width:22px;
	height:22px;
	position:absolute;
	top:325px;
	left:252px;
}

.sample-docs .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}
/*
.sample-docs .tabs{
	width:942px;
	height:22px;
	top:-22px;
	position:relative;
	z-index:1;
}

.sample-docs .tabs > div{
	width:461px;
	height:22px;
	float:left;
}

.sample-docs .tabs .left{
	text-align:left;
	margin-left:10px;
}


.sample-docs .tabs .right{
	text-align:right;
	margin-right:10px;
}

.sample-docs .tabs a{
	color:black;
	-webkit-border-image: url(../pics/tab-off.png) 5 20 5 20 repeat stretch;
	border-width: 5px 20px 5px 20px;
	display:inline-block;
	font:bold 11px arial;
	text-shadow:1px 1px 0 #ddd;
	color:#333;
	line-height:12px;
	text-decoration:none;
}

.sample-docs .tabs .on,
.sample-docs .tabs .on:hover{
	-webkit-border-image: url(../pics/tab-on.png) 5 20 5 20 repeat stretch;
	cursor:default;
}

.sample-docs .tabs a:hover{
	color:black;
	text-decoration: none;
	cursor:pointer;
	-webkit-border-image: url(../pics/tab-hover.png) 5 20 5 20 repeat stretch;

}*/

.sample-docs .next-button,
.sample-docs .previous-button{
	width:22px;
	height:40px;
	position:absolute;
	top:50%; 
	margin-top:-20px;
}

.sample-docs .previous-button{
	left:0px;
	z-index: 200;
}

.sample-docs .next-button{
	right:0px;
	z-index: 200;
}

.sample-docs .previous-button-hover,
.sample-docs .next-button-hover{
	background-color:rgba(0,0,0, 0.2);
}

.sample-docs .previous-button-hover,
.sample-docs .previous-button-down{
	background-image:url(/textant/resources/img/arrows.png);
	background-position:-4px 4px;
	background-repeat:no-repeat;
}

.sample-docs .previous-button-down,
.sample-docs .next-button-down{
	background-color:rgba(0,0,0, 0.2);
}

.sample-docs .next-button-hover,
.sample-docs .next-button-down{
	background-image:url(/textant/resources/img/arrows.png);
	background-position:-38px 4px;
	background-repeat:no-repeat;
}

.zoom-icon{
	position:absolute;
	z-index:1000;
	width:22px;
	height:22px;
	top:10px;
	right:200px;
	background-image:url(/textant/resources/img/zoom-icons.png);
	background-size:88px 22px;
}

.zoom-icon-in{
	background-position:0 0;
	cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover{
	background-position:-22px 0;
	cursor: pointer;
}

.zoom-icon-out{
	background-position:-44px 0;
}

.zoom-icon-out.zoom-icon-out-hover{
	background-position:-66px 0;
	cursor: pointer;
}

.bottom{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}