  .serchpos {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        /*        padding-top: 1%;*/
        padding-bottom: 1%;
        border: 1px solid #D8D8D8;
        width: 1012px;
        height: 1220px;
        background: white;
        margin-top: 20px;
/*        margin-bottom: 20px;*/
    }
    
    .serchDiv {
        width: 100%;
        height: 150px;
    }
    
    .serchpotionDiv {
        margin-left: 2.8%;
        padding-top: 2%;
    }
    
    .serchoption1 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption2 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption3 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption4 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption5 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption6 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption7 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption8 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption9 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption10 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption11 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
    }
    
    .serchoption12 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    
    .serchoption13 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    
    .serchoption14 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    
    .serchoption15 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    .serchoption16 {
        width: 80px;
        height: 35px;
        border: 1px solid #e8e8e8;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
        float: left;
        margin-top: 5px;
    }
    
    .serchoption1:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption2:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption3:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption4:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption5:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption6:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption7:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption8:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption9:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption10:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption11:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption12:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption13:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption14:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption15:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    .serchoption16:hover {
        color: #819FF7;
        border: 1px solid #819FF7;
    }
    
    #serchoptionid {
        margin-left: 5px;
    }
    
    .radio1 {
        display: none;
    }
    
    .radio2 {
        display: none;
    }
    
    .radio3 {
        display: none;
    }
    
    .radio4 {
        display: none;
    }
    
    .radio5 {
        display: none;
    }
    
    .radio6 {
        display: none;
    }
    
    .radio7 {
        display: none;
    }
    
    .radio8 {
        display: none;
    }
    
    .radio9 {
        display: none;
    }
    
    .radio10 {
        display: none;
    }
    
    .radio11 {
        display: none;
    }
    
    .radio12 {
        display: none;
    }
    
    .radio13 {
        display: none;
    }
    
    .radio14 {
        display: none;
    }
    
    .radio15 {
        display: none;
    }
    
    .serchbookDiv {
        margin: auto;
        padding-top: 2%;
        width: 95%;
        height: 80%;
        border: 1px solid #BDBDBD;
    }
    
    .genre1_book_list1 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list2 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list3 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list4 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list5 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list6 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list7 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list8 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list9 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list10 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list11 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list12 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list13 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list14 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .genre1_book_list15 {
        margin-left: 2%;
        margin-bottom: 2%;
        float: left;
    }
    
    .book_cap1 {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        /* 	display: none; */
    }
    
    .book_cap1>p {
        font-size: 15px;
    }
    
    .book_cap1>h5 {
        padding-top: 10px;
    }