.hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

.visual {
	position: relative;
	width: 490px;
	z-index: 0;
	float: right;
	bottom: 41px;
}

.simg {
	border: 1px solid #d8d8d8;
}

.visual-list {
	overflow: hidden;
	padding-bottom: 235px;
}

.visual-list ul {
	width: 100%;
	position: relative;
}

.visual-list ul li {
	width: 100%;
	position: absolute;
	left: 50%;
	margin-left: -50%;
	display: block;
	z-index: 0;
}

.visual-list ul li.active {
	z-index: 1;
}

.visual-list .img {
	text-align: center;
	height: 151px;
	overflow: hidden;
}

.visual-list .disc {
	position: absolute;
	bottom: 50px;
	min-width: 60px;
	min-height: 50px;
	padding: 10px;
	/* right: 50%;  margin-right: -100px;*/
	background: #000;
	opacity: 0.5;
	left: 120px;
}

.visual-list .disc .tit {
	/*            color: #cbcbcb;*/
	font-size: 14px;
	letter-spacing: .05em;
}

.visual-list .disc .date {
	color: #a2a2a2;
	font-size: 12px;
	letter-spacing: .03em;
	margin-top: 10px;
}

.visual-list .disc p {
	position: relative;
}

.visual-list .disc .btn-more {
	position: absolute;
	bottom: 10px;
	right: 15px;
	width: 100px;
	height: 20px;
	line-height: 18px;
	color: #fff;
	font-size: 11px;
	border: 1px solid #fff;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}

.visual .visual-controller {
	position: absolute;
	bottom: 95px;
	width: 100%;
	left: 100px;
	text-align: center;
	z-index: 9000;
}

/* .visual .visual-controller + .visual-list {padding-bottom: 240px;} */
.visual .visual-controller a {
	width: 8px;
	height: 8px;
	display: inline-block;
	text-indent: -999em;
	/*            vertical-align: middle;*/
	/*            border: 1px solid #ccc;*/
	border-radius: 8px;
	background-color: #ccc;
}

.visual .visual-controller a.active {
	background-color: black;
}

.visual .visual-controller [class*="btn-"] {
	display: none;
}

.visual .visual-controller .btn-play.active, .visual .visual-controller .btn-stop.active
	{
	display: inline-block;
}

.visual .visual-controller .btn-play, .visual .visual-controller .btn-stop
	{
	padding-left: 180px;
}