<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<setting name="useColumnLabel" value="true"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="defaultStatementTimeout" value="25000"/>
<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 -->
<!-- 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 함 -->
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	
	<typeAliases>
	    <typeAlias alias="comment" type="com.besideYou.textant.Dto.CommentDto" /> 
	    <typeAlias alias="file" type="com.besideYou.textant.Dto.FileDto" />
	    <typeAlias alias="login" type="com.besideYou.textant.Dto.LoginDto" />  
	</typeAliases>
	
<!-- 	<mappers> -->
<!-- 	    <mapper resource="com/pknu/mapper/bbs/bbs.xml" /> -->
<!-- 	    <mapper resource="com/pknu/mapper/comment/comment.xml" /> -->
<!-- 	</mappers> -->
</configuration>
	
	
	
	
	
	
